<section class="hero is-fullheight">

    <!-- .hero-head -->
    <nav class="hero-head">
        <div class="columns is-mobile is-marginless heading">
            <div class="column left">
                <figure class="subtitle">
                    <h1 class="subtitle" style="color:black;">BMW Bavaria</h1>
                </figure>
            </div>
            <div class="column right">
                <p class="navbar-item desktop has-text-black desktop">SHOP </p>
                <p class="navbar-item desktop has-text-black desktop">SIGN IN</p>
                <figure class="navbar-item image">
                    <i class="fas fa-3x fa-bars has-text-black" style="width: 1rem; height: 1rem;"></i>
                </figure>
            </div>
        </div>
    </nav>
    <!-- /.hero-head -->

    <!-- .hero-body -->
    <header class="hero-body">
        <div class="is-overlay has-text-centered single-spaced" style="top: 65px;">
            <h2 class="subtitle is-4 has-text-weight-light has-text-black">BMW</h2>
            <h1 class="title is-1 has-text-black">320i F30 A/T</h1>
        </div>
    </header>
    <!-- /.hero-body -->
    <section class="columns">
        <div class="column left is-overlay" style="top:92px;bottom: 88px;">
            <figure class="image is-3x2">
                <img class="is-square" src="images/road1.jpg">
            </figure>
        </div>
        <div class="column center is-overlay" style="top:92px;bottom: 88px;">
            <figure class="image is-3x2">
                <img class="is-square" src="images/BMWlogo1.jpg">
            </figure>
        </div>
        <div class="column right is-overlay" style="top:92px;bottom: 88px;">
            <figure class="image is-3x2">
                <img class="is-square" src="images/sign.jpg">
            </figure>
        </div>
    </section>

    <!-- .hero-foot -->
    <main class="hero-foot center" style="padding: 2rem;">
        <div id="grid" style="width: 768px;">
            <div id="a" class="center-column">
                <p class="has-text-centered has-text-black">
                    This car is available @ {dealer} - more text
                </p>
            </div>
            <div id="b" class="center-column">
                <p class="title has-text-black">
                    <i class="-alt has-text-grey-light" style="width: 0.75em; height: 0.75em;"></i>
                    R249900
                </p>
                <p class="subtitle has-text-black is-7">Price</p>
            </div>
            <div id="c" class="center-column" style="border-left: 1px solid gray;">
                <p class="title has-text-black">2014</p>
                <p class="subtitle is-7 has-text-black">Year Model</p>
            </div>
            <div id="d" class="center-column" style="border-left: 1px solid gray;">
                <p class="title has-text-black">165220</span><span class="is-size-5">km</span></p>
                <p class="subtitle is-7 has-text-black">Mileage</p>
            </div>
            <div id="e" class="center-column">
                <a class="button is-primary is-inverted is-rounded is-outlined has-text-black has-text-weight-bold"
                    style="width: 100%; border: 0.15em solid black;">
                    Book/Contact
                </a>
            </div>
        </div>
    </main>
    <!-- /.hero-foot -->


</section>

<!-- /.hero -->
<section class="columns">
    <div class="column left" style="margin-left:80px; margin-top: 10px;">
            <div class="card">
                    <header class="card-header">
                      <p class="card-header-title is-centered">
                        Vehicle extras
                      </p>
                    </header>
                    <div class="card-content">
                      <div class="table">
                        <table class="table is-bordered pricing__table">
                          <tbody>
                            <tr>
                              <td>Towbar</td>
                              <td>Sunroof</td>
                              <td>Rearview camera</td>
                            </tr>
                            <tr>
                              <td>
                                Akkoy wheels
                              </td>
                              <td>Exhaust</td>
                              <td>Dashboard</td>
                            </tr>
                            <tr>
                              <td>
                                Steering wheel controls
                              </td>
                              <td>Leather</td>
                              <td>Xenon</td>
                            </tr>
                            <tr>
                              <td>lights</td>
                              <td>led flickers</td>
                              <td>backseat</td>
                            </tr>
                            <tr>
                              <td>front doors</td>
                              <td>back doors</td>
                              <td>bootlid</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
              
              
                  </div>
              
              
    </div>
    <div class="column right">
        <figure class="image is-3x2">
            <img class="is-square" src="images/road1.jpg">
        </figure>
    </div>

</section>
{{template "comment.html" .}}