<section class="hero">
  <div class="hero-body">
      <ul class="steps">
          <li class="steps-segment">
            <a href="/create/step1" class="steps-marker is-active"></a>
          </li>
          <li class="steps-segment">
            <a href="/create/step2" class="steps-marker"></a>
          </li>
          <li class="steps-segment">
              <a href="/create/step3" class="steps-marker"></a>
          </li>
          <li class="steps-segment">
            <span class="steps-marker"></span>
          </li>
          <li class="steps-segment">
            <span class="steps-marker"></span>
          </li>
        </ul>
        
<h1>Create Page {{ .StepNo }}</h1>
{{block "currStep" .}} {{end}}
<h4>The rest of the create page.</h4>
  </div>
  </section>
  