{{template "master.html" .}}
{{define "layoutcontent"}}
    <!-- Begin Header -->
    <div class="header-wrapper" id="home">
        <!-- Begin Hero -->
        <section class="hero is-medium herocolour">
            {{template "mobilenav.html" .}}
            {{template "menu.html" .}}
            <!-- End Hero Content-->
        </section>
        <!-- End Hero -->
    </div>
    <!-- End Header -->
    <div class="section-light about-me" id="about-me">
        <div class="container">
            <div class="columns is-multiline" data-aos="fade-right">
                <div id="grphPrice" class="column is-6 has-vertically-aligned-content"
                     style="height: 400px;">
                </div>
                <div class="column is-6" data-aos="fade-left">
                    <div class="content">
                        <p>
                            NOG GOED
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="rangeslider">
                <!--Slider-->
                <input id="minPrice" name="rangePrice" type="range" min="{{.Data.Min}}" max="{{.Data.Max}}" step="500"
                       value="{{.Data.Min}}"/>
                <input id="maxPrice" name="rangePrice" type="range" min="{{.Data.Min}}" max="{{.Data.Max}}" step="500"
                       value="{{.Data.Max}}"/><br/>
                <span id="minPriceVal" class="range_min light left has-text-weight-bold">{{.Data.Min}}</span>
                <span id="maxPriceVal" class="range_max light right has-text-weight-bold">{{.Data.Max}}</span>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="field has-addons">
                <div class="control is-expanded">
                    <input class="input has-text-centered" type="search" placeholder="Find your dream car">
                </div>
                <div class="control">
                    <a class="button is-info">Search</a>
                </div>
            </div>
        </div>
    </div>
    <section class="container">
        <div class="columns is-multiline">
            <div class="column">
                {{if .Data.Results}}
                    <div class="columns is-multiline">
                        {{$artUrl := index .Endpoints "artifact"}}
                        {{range .Data.Results.GetRecords.ToSlice}}
                            {{$v := .GetValue}}
                            {{$k := .GetKey}}
                            <div class="column is-4">
                                <div class="card">
                                    <div class="header">
                                        <div class="media">
                                            <div class="media-left">
                                                <figure class="image is-96x96">
                                                    <img src="{{$artUrl}}/download/{{$v.OwnerKey}}">
                                                </figure>
                                            </div>
                                            <div class="media-content">
                                                <p class="title is-4">{{$v.ShortName}}</p>
                                                <p class="subtitle colourSecondary is-6">
                                                    <a
                                                            href="https://www.facebook.com/gyspitzermotors/">Facebook</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card is-shady">
                                        <div class="card-image">
                                            <figure class="image is-5by3">
                                                <img src="{{$artUrl}}/download/{{$v.ImageKey}}">
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <div class="content">
                                            <h4>{{$v.Info}} {{$v.Tags}}</h4>
                                            <h6>{{$v.Price}} <i>Est. {{$v.EstValue}}</i></h6>
                                            <span class="button is-link modal-button" data-id="{{$k}}"
                                                  data-target="modal-card">View
                                    more</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{end}}
                    </div>
                {{end}}
            </div>
            <div class="column is-3 right-image " data-aos="fade-left">
                <div class="content">
                    <p class="title">Top 10</p>
                    <p class="subtitle colourSecondary">Top 10 Brands</p>
                    <div class="list is-hoverable">
                        <a class="list-item">
                            Toyota
                        </a>
                        <a class="list-item">
                            Volkswagen
                        </a>
                        <a class="list-item">
                            Nissan
                        </a>
                        <a class="list-item">
                            Hyundai
                        </a>
                        <a class="list-item">
                            Mercedes-Benz
                        </a>
                        <a class="list-item">
                            Kia
                        </a>
                        <a class="list-item">
                            Isuzu
                        </a>
                        <a class="list-item">
                            BMW
                        </a>
                        <a class="list-item">
                            Renault
                        </a>
                        <a class="list-item">
                            Ford
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns features">
            <div class="column is-4">
                <div class="card is-shady">
                    <div class="card-image has-text-centered">
                        <i class=""></i>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>Want to upload your vehicle history?</h4>
                            <p>Having a history on an automobile gives buyers peace of mind,
                                and in most cases gives your car more value, upload yours today
                                and you'll never have to worry about a lost booklet ever.
                            </p>
                            <button class="button is-block is-success is-normal is-fullwidth">Upload now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-8">
                <div class="card is-shady">
                    <div class="card-image has-text-centered">
                        <i class=""></i>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>Need cash quickly?</h4>
                            <p>Fill out the form and get offers from 3 leading buyers
                                within 24 hours, we have partnered up with 3 leading
                                automobile buyers to ensure you get the best price without any
                                hassles, get paperwork done and payment on the spot.
                            </p>
                            <button class="button is-block is-success is-normal is-fullwidth">Get offers</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{end}}