{{template "master.html" .}}
{{define "layoutcontent"}}
    <!-- Begin Header -->
    <div class="header-wrapper" id="home">
        <!-- Begin Hero -->
        <section class="hero is-medium herocolour">
            {{template "mobilenav.html" .}}
            {{template "menu.html" .}}
            <!-- End Hero Content-->
        </section>

        <!-- End Hero -->
    </div>
    <!-- End Header -->
    <!-- Begin Main Content -->
    <div class="main-content colourPrimary">
        {{block "pagecontent" .}}{{end}}
    </div>
    <!-- End Main Content -->
{{end}}