<!-- About -->
<section class="section" id="about">
  <!-- Title -->
  <div class='section profile-heading'>
    <div class='columns is-mobile is-multiline'>
      <div class='column is-2'>
        <span class='header-icon user-profile-image'>
          <img alt='' src='http://placehold.it/300x225'>
        </span>
      </div>
      <div class='column is-4-tablet is-10-mobile name'>
        <p>
          <span class='title has-text-weight-bold'>Dirk Lensley</span>
          <br>
          <br>
        </p>
        <p class='tagline'>
          The users profile bio goes here
        </p>
      </div>
      <div class='column is-2-tablet is-4-mobile has-text-centered'>
        <p class='stat-val'></p>
        <p class='stat-key'></p>
      </div>
      <div class='column is-2-tablet is-4-mobile has-text-centered'>
        <p class='stat-val'></p>
        <p class='stat-key'></p>
      </div>
      <div class='column is-2-tablet is-4-mobile has-text-centered'>
        <p class='stat-val'></p>
        <p class='stat-key'></p>
      </div>
    </div>
    <div class="columns has-same-height">
      <div class="column">
        <!-- Profile -->
        <div class="card">
          <div class="card-content">
            <h3 class="title is-4">Profile</h3>

            <div class="content">
              <table class="table-profile">
                <tr>
                  <th colspan="1"></th>
                  <th colspan="2"></th>
                </tr>
                <tr>
                  <td>Dealership</td>
                  <td>Mccarthy Toyota Pta North</td>
                </tr>
                <tr>
                  <td>Address:</td>
                  <td>71 Lois Ave, Menlyn</td>
                </tr>
                <tr>
                  <td>Phone:</td>
                  <td>012-4567890</td>
                </tr>
                <tr>
                  <td>Email:</td>
                  <td>blah@mccarthy.com</td>
                </tr>
              </table>
            </div>
            <br>
            <!--<div class="buttons has-addons is-centered">
              <a href="#" class="button is-link">Github</a>
              <a href="#" class="button is-link">LinkedIn</a>
              <a href="#" class="button is-link">Twitter</a>
              <a href="#" class="button is-link">CodeTrace</a>
            </div> -->
          </div>
        </div>
      </div>
      <div class="column has-same-height">
        <!-- Profile picture -->
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://source.unsplash.com/random/1280x960" alt="Placeholder image">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Portfolio -->
<section class="section" id="portfolio">
  <div class="container">
    <div class="section-heading">
      <h3 class="title is-2">Portfolio</h3>
      <h4 class="subtitle colourSecondary is-5">My Showroom</h4>
    </div>
    <br>

    <div class="container portfolio-container">
      <div class="columns">
        <div class="column is-4">
          <br>
          <!-- admin -->
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <span>Admin</span>
              </p>
            </header>
            <div class="card-content">
              <figure class="image">
                <img src="https://dummyimage.com/555x255/000/fff" alt="Admin template screenshot">
              </figure>
            </div>
            <footer class="card-footer">
              <a href="templates/forum.html" class="card-footer-item">Like</a>
              <a href="templates/forum.html" class="card-footer-item">Share</a>
              <a href="templates/forum.html" class="card-footer-item">Tweet</a>
            </footer>
          </div>
          <br>
          <!-- cards -->
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <span>Cards</span>
              </p>
            </header>
            <div class="card-content">
              <figure class="image">
                <img src="https://dummyimage.com/555x255/000/fff" alt="Cards template screenshot">
              </figure>
            </div>
            <footer class="card-footer">
              <a href="templates/forum.html" class="card-footer-item">Like</a>
              <a href="templates/forum.html" class="card-footer-item">Share</a>
              <a href="templates/forum.html" class="card-footer-item">Tweet</a>
            </footer>
          </div>
          <br>
          <!-- forum -->
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <span>Forum</span>
              </p>
            </header>
            <div class="card-content">
              <figure class="image">
                <img src="https://dummyimage.com/555x255/000/fff" alt="Hero template screenshot">
              </figure>
            </div>
            <footer class="card-footer">
              <a href="templates/forum.html" class="card-footer-item">Like</a>
              <a href="templates/forum.html" class="card-footer-item">Share</a>
              <a href="templates/forum.html" class="card-footer-item">Tweet</a>
            </footer>
          </div>
          <br>
          <!-- insta album -->
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <span>InstaAlbum</span>
              </p>
            </header>
            <div class="card-content">
              <figure class="image">
                <img src="https://dummyimage.com/555x255/000/fff" alt="Landing template screenshot">
              </figure>
            </div>
            <footer class="card-footer">
              <a href="templates/forum.html" class="card-footer-item">Like</a>
              <a href="templates/forum.html" class="card-footer-item">Share</a>
              <a href="templates/forum.html" class="card-footer-item">Tweet</a>
            </footer>
          </div>
          <br>
          <!-- landing -->
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <span>Landing</span>
              </p>
            </header>
            <div class="card-content">
              <figure class="image">
                <img src="https://dummyimage.com/555x255/000/fff" alt="Landing template screenshot">
              </figure>
            </div>
            <footer class="card-footer">
              <a href="templates/forum.html" class="card-footer-item">Like</a>
              <a href="templates/forum.html" class="card-footer-item">Share</a>
              <a href="templates/forum.html" class="card-footer-item">Tweet</a>
            </footer>
          </div>

        </div>
        <div class="column is-4">
          <br>
          <!-- band -->
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <span>Band</span>
              </p>
            </header>
            <div class="card-content">
              <figure class="image">
                <img src="https://dummyimage.com/555x255/000/fff" alt="Band template screenshot">
              </figure>
            </div>
            <footer class="card-footer">
              <a href="templates/forum.html" class="card-footer-item">Like</a>
              <a href="templates/forum.html" class="card-footer-item">Share</a>
              <a href="templates/forum.html" class="card-footer-item">Tweet</a>
            </footer>
          </div>
          <br>
          <!-- cheatsheet -->
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <span>Cheatsheet</span>
              </p>
            </header>
            <div class="card-content">
              <figure class="image">
                <img src="https://dummyimage.com/555x255/000/fff" alt="Cheatsheet template screenshot">
              </figure>
            </div>
            <footer class="card-footer">
              <a href="templates/forum.html" class="card-footer-item">Like</a>
              <a href="templates/forum.html" class="card-footer-item">Share</a>
              <a href="templates/forum.html" class="card-footer-item">Tweet</a>
            </footer>
          </div>
          <br>
          <!-- hero -->
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <span>Hero</span>
              </p>
            </header>
            <div class="card-content">
              <figure class="image">
                <img src="https://dummyimage.com/555x255/000/fff" alt="Hero template screenshot">
              </figure>
            </div>
            <footer class="card-footer">
              <a href="templates/forum.html" class="card-footer-item">Like</a>
              <a href="templates/forum.html" class="card-footer-item">Share</a>
              <a href="templates/forum.html" class="card-footer-item">Tweet</a>
            </footer>
          </div>
          <br>
          <!--kanban -->
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <span>Kanban</span>
              </p>
            </header>
            <div class="card-content">
              <figure class="image">
                <img src="https://dummyimage.com/555x255/000/fff" alt="Kanban template screenshot">
              </figure>
            </div>
            <footer class="card-footer">
              <a href="templates/forum.html" class="card-footer-item">Like</a>
              <a href="templates/forum.html" class="card-footer-item">Share</a>
              <a href="templates/forum.html" class="card-footer-item">Tweet</a>
            </footer>
          </div>
          <br>
          <!-- login -->
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <span>Login</span>
              </p>
            </header>
            <div class="card-content">
              <figure class="image">
                <img src="https://dummyimage.com/555x255/000/fff" alt="Login template screenshot">
              </figure>
            </div>
            <footer class="card-footer">
              <a href="templates/forum.html" class="card-footer-item">Like</a>
              <a href="templates/forum.html" class="card-footer-item">Share</a>
              <a href="templates/forum.html" class="card-footer-item">Tweet</a>
            </footer>
          </div>
        </div>
        <div class="column is-4">
          <br>
          <!-- blog -->
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <span>Blog</span>
              </p>
            </header>
            <div class="card-content">
              <figure class="image">
                <img src="https://dummyimage.com/555x255/000/fff" alt="Blog template screenshot">
              </figure>
            </div>
            <footer class="card-footer">
              <a href="templates/forum.html" class="card-footer-item">Like</a>
              <a href="templates/forum.html" class="card-footer-item">Share</a>
              <a href="templates/forum.html" class="card-footer-item">Tweet</a>
            </footer>
          </div>
          <br>
          <!-- cover -->
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <span>Cover</span>
              </p>
            </header>
            <div class="card-content">
              <figure class="image">
                <img src="https://dummyimage.com/555x255/000/fff" alt="Cover template screenshot">
              </figure>
            </div>
            <footer class="card-footer">
              <a href="templates/forum.html" class="card-footer-item">Like</a>
              <a href="templates/forum.html" class="card-footer-item">Share</a>
              <a href="templates/forum.html" class="card-footer-item">Tweet</a>
            </footer>
          </div>
          <br>
          <!--inbox -->
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <span>Inbox</span>
              </p>
            </header>
            <div class="card-content">
              <figure class="image">
                <img src="https://dummyimage.com/555x255/000/fff" alt="Inbox template screenshot">
              </figure>
            </div>
            <footer class="card-footer">
              <a href="templates/forum.html" class="card-footer-item">Like</a>
              <a href="templates/forum.html" class="card-footer-item">Share</a>
              <a href="templates/forum.html" class="card-footer-item">Tweet</a>
            </footer>
          </div>
          <br>
          <!--kanban with functional search-->
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <span>Kanban with Search box</span>
              </p>
            </header>
            <div class="card-content">
              <figure class="image">
                <img src="https://dummyimage.com/555x255/000/fff" alt="Kanban template screenshot">
              </figure>
            </div>
            <footer class="card-footer">
              <a href="templates/forum.html" class="card-footer-item">Like</a>
              <a href="templates/forum.html" class="card-footer-item">Share</a>
              <a href="templates/forum.html" class="card-footer-item">Tweet</a>
            </footer>
          </div>
          <br>
          <!--tabs-->
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <span>Modal Cards</span>
              </p>
            </header>
            <div class="card-content">
              <figure class="image">
                <img src="https://dummyimage.com/555x255/000/fff" alt="modal-cards template screenshot">
              </figure>
            </div>
            <footer class="card-footer">
              <a href="templates/forum.html" class="card-footer-item">Like</a>
              <a href="templates/forum.html" class="card-footer-item">Share</a>
              <a href="templates/forum.html" class="card-footer-item">Tweet</a>
            </footer>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="container">
      <div class="section-heading">
        <h3 class="title is-2">Comments</h3>
        <h4 class="subtitle colourSecondary is-5">Leave a comment ragarding this seller!</h4>
      </div>
      <br>

      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50.jpg">
          </p>
        </figure>
        <div class="media-content">
          <div class="field">
            <p class="control">
              <textarea class="textarea" placeholder="Add a comment..."></textarea>
            </p>
          </div>
          <nav class="level">
            <div class="level-left">
              <div class="level-item">
                <a class="button is-info">Submit</a>
              </div>
            </div>
        </div>
      </article>
    </div>
  </div>
</section>