{{template "create.html" .}} {{define "currStep"}}

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <p class="title">Photos</p>
            <p class="subtitle">Upload photos of the vehicle you are selling</p>
        </div>
    </div>
</section>
<section id="top" class="columns hero has-background-grey-dark is-medium has-text-weight-bold">
    <div class="columns is-mobile" style="height:341px;">
        <div id="mid" class="column left is-4">
            <div class="field has-text-white">
                <label class="fileContainer">
                    Left Photo!!
                    <input type="file" />
                </label>
            </div>
        </div>
        <div id="mid" class="column center is-4">
            <div class="field">
                <div class="file is-small is-boxed">
                    <label class="file-label">
                        <input class="file-input" type="file" name="resume">
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                        </span>
                    </label>
                </div>
            </div>
        </div>
        <div id="mid" class="column right is-4">
            <div class="field">
                <div class="file is-small is-boxed">
                    <label class="file-label">
                        <input class="file-input" type="file" name="resume">
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                        </span>
                    </label>
                </div>
            </div>
        </div>

    </div>
    <div class="columns is-mobile" style="height:341px;">
        <div id="mid" class="column left is-4">
            <div class="field">
                <div class="file is-small is-boxed">
                    <label class="file-label">
                        <input class="file-input" type="file" name="resume">
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                        </span>
                    </label>
                </div>
            </div>
        </div>
        <div id="mid" class="column center is-4">
            <div class="field">
                <div class="file is-small is-boxed">
                    <label class="file-label">
                        <input class="file-input" type="file" name="resume">
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                        </span>
                    </label>
                </div>
            </div>
        </div>
        <div id="mid" class="column right is-4">
            <div class="field">
                <div class="file is-small is-boxed">
                    <label class="file-label">
                        <input class="file-input" type="file" name="resume">
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                        </span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="columns is-mobile" style="height:341px;">
        <div id="mid" class="column left is-4">
            <div class="field">
                <div class="file is-small is-boxed">
                    <label class="file-label">
                        <input class="file-input" type="file" name="resume">
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                        </span>
                    </label>
                </div>
            </div>
        </div>
        <div id="mid" class="column center is-4">
            <div class="field">
                <div class="file is-small is-boxed">
                    <label class="file-label">
                        <input class="file-input" type="file" name="resume">
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                        </span>
                    </label>
                </div>
            </div>
        </div>
        <div id="mid" class="column right is-4">
            <div class="field">
                <div class="file is-small is-boxed">
                    <label class="file-label">
                        <input class="file-input" type="file" name="resume">
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                        </span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</section>

{{end}}