{{template "create.html" .}} {{define "currStep"}}
<div class="container has-text-centered">
  <div class="column is-4 is-offset-4">
    <p class="subtitle has-text-grey">Please confirm that the information mentioned below is correct</p>
    <div class="box">
      <form role="form" id="frmStep2">
        <div class="field">
          <h1>{{.Data.Unique}}</h1>
          <p>Your car is #{{.Data.Serial}}</p>
          <br>
          <table class="table is-responsive is-striped is-bordered">
            <tbody>
              {{range $key, $val := .Data.WMInfo}}
              <tr>
                <td>{{$key}}</td>
                <td>{{$val}}</td>
              </tr>
              {{end}}
            </tbody>
          </table>
        </div>
        <button id="btnNext" class="button is-block is-success is-normal is-fullwidth">Next</button>
        <p id="frmStep2Err" class="help is-danger"></p>
      </form>
    </div>
  </div>
</div>
{{end}}