{{template "create.html" .}} {{define "currStep"}}
<div class="container has-text-left">
  <div class="column is-4 is-offset-4">
    <label class="checkbox">
      <input type="checkbox">
      Canopy
    </label>
    <label class="checkbox">
      <input type="checkbox">
      Tonneau cover
    </label>
    <label class="checkbox">
      <input type="checkbox">
      Securi-lid
    </label>
    <br>
    <label class="checkbox">
      <input type="checkbox">
      Bin lining/Rubberising
    </label>
    <label class="checkbox">
      <input type="checkbox">
      Bullbar
    </label>
    <label class="checkbox">
      <input type="checkbox">
      Nudgebar
    </label>
    <br>
    <label class="checkbox">
      <input type="checkbox">
      Side stepd/Rocksliders
    </label>
    <label class="checkbox">
      <input type="checkbox">
      ARB/Aftermarket Bumper
    </label>
    <label class="checkbox">
      <input type="checkbox">
      Towbar
    </label>
    <br>
    <label class="checkbox">
      <input type="checkbox">
      Roofrack
    </label>
    <label class="checkbox">
      <input type="checkbox">
      Inverter
    </label>
    <label class="checkbox">
      <input type="checkbox">
      Lifted/Upgraded Suspension
    </label>
    <br>
    <label class="checkbox">
      <input type="checkbox">
      Aftermarket wheels/Mags
    </label>
    <label class="checkbox">
      <input type="checkbox">
      Spotlights
    </label>
    <label class="checkbox">
      <input type="checkbox">
      LED Bar
    </label>
    <br>
    <label class="checkbox">
      <input type="checkbox">
      Steering Controls
    </label>
    <label class="checkbox">
      <input type="checkbox">
      Satnav
    </label>
    <label class="checkbox">
      <input type="checkbox">
      Xenon Headlights
    </label>
    <br>
    <label class="checkbox">
      <input type="checkbox">
      Cruise control
    </label>
    <label class="checkbox">
      <input type="checkbox">
      Auto lights
    </label>
    <label class="checkbox">
      <input type="checkbox">
      Auto Wipers
    </label>
    <br>
    <label class="checkbox">
      <input type="checkbox">
      Bluetooth
    </label>
    <label class="checkbox">
      <input type="checkbox">
      Aftermarket radio
    </label>
    <label class="checkbox">
      <input type="checkbox">
      Rearview camera
    </label>
    <br>
    <label class="checkbox">
      <input type="checkbox">
      Sunroof
    </label>
    <label class="checkbox">
      <input type="checkbox">
      Smash & Grab
    </label>
    <label class="checkbox">
      <input type="checkbox">
      Upgraded Audio system
    </label>
    <br>
    <label class="checkbox">
      <input type="checkbox">
      Powersteering
    </label>
    <button class="button is-block is-success is-normal is-fullwidth">Next</button>
    </form>
  </div>
  <!--<label class="checkbox">
        <input type="checkbox">
        Tow Bar
      </label>
      <label class="checkbox">
            <input type="checkbox">
            Aircon
          </label>
          <label class="checkbox">
                <input type="checkbox">
                Sunroof
              </label>-->
  {{end}}