{{template "create.html" .}} {{define "currStep"}}
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <p class="title">Vehicle extras</p>
        <p class="subtitle">Please select all extras that are equipped on your vehicle</p>
      </div>
    </div>
  </section>

  <div class="demo">

    <h1 id="responsive">Vehicle extra's</h1>
    <p></p>
    <br>
    <table class="table is-responsive table is-bordered is-striped is-fullwidth">
      <thead>
        <tr>
          <th colspan="2">Interior</th>
          <th colspan="2">Exterior</th>
          <th colspan="2">Bakkie/Suv</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="has-text-left">
              <form id="frmXtra">
                <label class="checkbox">
                  <input type="checkbox">
                  Leather seats
                </label>
                <div class="has-text-left">
                  <form id="frmXtra">
                    <label class="checkbox">
                      <input type="checkbox">
                      Steering controls
                    </label>
                </div>
                <div class="has-text-left">
                  <form id="frmXtra">
                    <label class="checkbox">
                      <input type="checkbox">
                      Virtual Cockpit
                    </label>
                </div>
                <div class="has-text-left">
                  <form id="frmXtra">
                    <label class="checkbox">
                      <input type="checkbox">
                      Upgraded Sound system
                    </label>
                </div>
                <div class="has-text-left">
                  <form id="frmXtra">
                    <label class="checkbox">
                      <input type="checkbox">
                      Cruise control
                    </label>
                </div>
                <div class="has-text-left">
                  <form id="frmXtra">
                    <label class="checkbox">
                      <input type="checkbox">
                      Electric seats
                    </label>
                </div>
          </td>
          <td>
            <div class="has-text-left">
              <form id="frmXtra">
                <label class="checkbox">
                  <input type="checkbox">
                  Electric Windows
                </label>
                <div class="has-text-left">
                  <form id="frmXtra">
                    <label class="checkbox">
                      <input type="checkbox">
                      Satnav
                    </label>

                </div>
                <div class="has-text-left">
                  <form id="frmXtra">
                    <label class="checkbox">
                      <input type="checkbox">
                      Aircon
                    </label>
                </div>
                <div class="has-text-left">
                  <form id="frmXtra">
                    <label class="checkbox">
                      <input type="checkbox">
                      Heated seats
                    </label>
                </div>
                <div class="has-text-left">
                  <form id="frmXtra">
                    <label class="checkbox">
                      <input type="checkbox">
                      Electric mirrors
                    </label>
                </div>
                <div class="has-text-left">
                  <form id="frmXtra">
                    <label class="checkbox">
                      <input type="checkbox">
                      Wireless charger
                    </label>
                </div>
          </td>

          <td>
            <div class="has-text-left">
              <form id="frmXtra">
                <label class="checkbox">
                  <input type="checkbox">
                  Mags
                </label>
                <div class="has-text-left">
                  <form id="frmXtra">
                    <label class="checkbox">
                      <input type="checkbox">
                      Smash & Grab
                    </label>

                </div>
                <div class="has-text-left">
                  <form id="frmXtra">
                    <label class="checkbox">
                      <input type="checkbox">
                      Metallic Paint
                    </label>
                </div>
                <div class="has-text-left">
                  <form id="frmXtra">
                    <label class="checkbox">
                      <input type="checkbox">
                      Body Kit
                    </label>
                </div>
          </td>
          <td>
            <div class="has-text-left">
              <form id="frmXtra">
                <label class="checkbox">
                  <input type="checkbox">
                  Sunroof
                </label>
                <div class="has-text-left">
                  <form id="frmXtra">
                    <label class="checkbox">
                      <input type="checkbox">
                      Towbar
                    </label>
                </div>

          </td>

          <td>
            <div class="has-text-left">
              <form id="frmXtra">
                <label class="checkbox">
                  <input type="checkbox">
                  Canopy
                </label>
                <div class="has-text-left">
                  <form id="frmXtra">
                    <label class="checkbox">
                      <input type="checkbox">
                      Tonneau cover
                    </label>
                </div>
                <div class="has-text-left">
                  <form id="frmXtra">
                    <label class="checkbox">
                      <input type="checkbox">
                      Securi-lid
                    </label>
                </div>
                <div class="has-text-left">
                  <form id="frmXtra">
                    <label class="checkbox">
                      <input type="checkbox">
                      Rollbar
                    </label>
                </div>
                <div class="has-text-left">
                  <form id="frmXtra">
                    <label class="checkbox">
                      <input type="checkbox">
                      Nudgebar
                    </label>
                </div>
                <div class="has-text-left">
                  <form id="frmXtra">
                    <label class="checkbox">
                      <input type="checkbox">
                      Spotlights
                    </label>
                </div>
          </td>
          <td>
            <div class="has-text-left">
              <form id="frmXtra">
                <label class="checkbox">
                  <input type="checkbox">
                  Upgraded Suspension
                </label>
                <div class="has-text-left">
                  <form id="frmXtra">
                    <label class="checkbox">
                      <input type="checkbox">
                      Winch
                    </label>

                </div>
                <div class="has-text-left">
                  <form id="frmXtra">
                    <label class="checkbox">
                      <input type="checkbox">
                      Replacement Bumper
                    </label>
                </div>
                <div class="has-text-left">
                  <form id="frmXtra">
                    <label class="checkbox">
                      <input type="checkbox">
                      Rocksliders
                    </label>
                </div>
                <div class="has-text-left">
                  <form id="frmXtra">
                    <label class="checkbox">
                      <input type="checkbox">
                      Bellyplate
                    </label>
                </div>
                <div class="has-text-left">
                  <form id="frmXtra">
                    <label class="checkbox">
                      <input type="checkbox">
                      LED Bar
                    </label>
                </div>

          </td>

        </tr>

      </tbody>
    </table>

  </div>
  <!--<label class="checkbox">
        <input type="checkbox">
        Tow Bar
      </label>
      <label class="checkbox">
            <input type="checkbox">
            Aircon
          </label>
          <label class="checkbox">
                <input type="checkbox">
                Sunroof
              </label>-->
  {{end}}