<section>
    <div class="content">
        <div class="container">
            <p class="title">Other info</p>
            <p class="subtitle colourSecondary">Please enter the price and mileage</p>
        </div>
    </div>
    <div class="container">
        <div class="column is-4 is-offset-4">
            <div class="box">
                <form role="form">
                    <p class="subtitle colourSecondary has-text-grey">Please enter your price</p>
                    <div class="field">
                        <div class="control">
                            <input class="input is-mormal" id="txtPrice" required minlength="4" type="text"
                                   placeholder="Price" autofocus="" autocorrect="off" autocapitalize="off">
                            <p class="help is-danger"></p>
                            <br>
                            <p class="subtitle colourSecondary has-text-grey has-text-centered">Please enter your mileage</p>
                            <form role="form">
                                <div class="field">
                                    <div class="control">
                                        <input class="input is-mormal" id="txtMileage" required minlength="2" type="int"
                                               placeholder="Mileage (KM)" autofocus="" autocorrect="off"
                                               autocapitalize="off">
                                        <p class="help is-danger"></p>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <button class="button is-block is-success is-normal is-fullwidth">Next</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>