<section>
    <div class="content">
        <div class="container">
            <p class="title">Vehicle extras</p>
            <p class="subtitle colourSecondary">Please select all extras that are equipped on your vehicle</p>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <form id="frmXtra">
                <table class="table is-responsive table is-bordered is-striped is-fullwidth has-text-centered">
                    <thead>
                    <tr>
                        <th colspan="1">Interior</th>
                        <th colspan="1">Exterior</th>
                        <th colspan="1">Bakkie/Suv</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="has-text-left">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Leather seats
                                </label>
                            </div>
                            <div class="has-text-left">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Steering controls
                                </label>
                            </div>
                            <div class="has-text-left">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Virtual Cockpit
                                </label>
                            </div>
                            <div class="has-text-left">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Upgraded Sound system
                                </label>
                            </div>
                            <div class="has-text-left">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Cruise control
                                </label>
                            </div>
                            <div class="has-text-left">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Electric seats
                                </label>
                            </div>


                            <div class="has-text-left">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Electric Windows
                                </label>
                            </div>
                            <div class="has-text-left">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Satnav
                                </label>
                            </div>
                            <div class="has-text-left">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Aircon
                                </label>
                            </div>
                            <div class="has-text-left">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Heated seats
                                </label>
                            </div>
                            <div class="has-text-left">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Electric mirrors
                                </label>
                            </div>
                            <div class="has-text-left">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Wireless charger
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="has-text-left">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Mags
                                </label>
                            </div>
                            <div class="has-text-left">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Smash & Grab
                                </label>
                            </div>
                            <div class="has-text-left">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Metallic Paint
                                </label>
                            </div>
                            <div class="has-text-left">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Body Kit
                                </label>
                            </div>
                            <div class="has-text-left">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Sunroof
                                </label>
                            </div>
                            <div class="has-text-left">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Towbar
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="has-text-left">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Canopy
                                </label>
                            </div>
                            <div class="has-text-left">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Tonneau cover
                                </label>
                            </div>
                            <div class="has-text-left">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Securi-lid
                                </label>
                            </div>
                            <div class="has-text-left">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Rollbar
                                </label>
                            </div>
                            <div class="has-text-left">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Nudgebar
                                </label>
                            </div>
                            <div class="has-text-left">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Spotlights
                                </label>
                            </div>
                            <div class="has-text-left">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Upgraded Suspension
                                </label>
                            </div>
                            <div class="has-text-left">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Winch
                                </label>
                            </div>
                            <div class="has-text-left">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Replacement Bumper
                                </label>
                            </div>
                            <div class="has-text-left">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Rocksliders
                                </label>
                            </div>
                            <div class="has-text-left">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Bellyplate
                                </label>
                            </div>
                            <div class="has-text-left">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    LED Bar
                                </label>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <button id="btnNext" class="button is-block is-success is-normal is-fullwidth">Next</button>
                <p id="frmStep4Err" class="help is-danger"></p>
            </form>
        </div>
    </div>
</section>