{{template "create.html" .}} {{define "currStep"}}
<div class="container has-text-centered">
    <div class="column is-4 is-offset-4">
        <div class="box">
            <p class="subtitle has-text-grey">Please enter your price</p>
            <form role="form">
                <div class="field">
                    <div class="control">
                        <input class="input is-mormal" id="txtIdentity" required minlength="4" type="text"
                            placeholder="Price" autofocus="" autocorrect="off" autocapitalize="off">
                        <p class="help is-danger"></p>
                        <br>
                        <p class="subtitle has-text-grey has-text-centered">Please enter your mileage</p>
                        <form role="form">
                            <div class="field">
                                <div class="control">
                                    <input class="input is-mormal" id="txtIdentity" required minlength="2" type="text"
                                        placeholder="Mileage (KM)" autofocus="" autocorrect="off" autocapitalize="off">
                                    <p class="help is-danger"></p>
                                </div>
                                <br>
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Original Natis available
                                </label>
                                <br>
                                <br>
                            </div>
                    </div>
                    <button class="button is-block is-success is-normal is-fullwidth">Next</button>
            </form>
        </div>
        <!--
        <p class="has-text-grey">
            <a href="/register">Register</a> &nbsp;·&nbsp;
            <a href="/forgot">Forgot Password</a>
        </p>
    -->
    </div>
</div>
{{end}}